.mainContainer{
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    height: 100vh;
    overflow-y: scroll;
}

.contentContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(249, 249, 249);
    border-radius: 10px;
    padding: 10px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 5px 1px rgb(186, 186, 188);
}

.character{
    height: fit-content;
    background-color: rgb(237, 236, 236);
    color: rgb(64, 62, 62);
    box-shadow: 0px 0px 5px 1px rgb(193, 193, 193);
    border-radius: 5px;
    width: 200px;
    height: fit-content;
    margin: 10px;
    padding: 15px;
    cursor: pointer;
}


.alive{
    background-color: #56C656;
    color: white;
}

.dead{
    background-color: #f74040;
    color: white;
}

.character > img {
    border-radius: 50%;
}

.characterInfo{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    width: 100%;
}

.characterInfo > span {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}